<h1>
    ようこそ
    <strong>Bookers</strong>
    へ！
</h1>

<p>
    <strong>Bookers</strong>
    では、さまざまな書籍に関するあなたの意見や
</p>
<p>
    印象を共有し交換することができます
</p>
<p>
    <%= link_to "start","https://bbd1454768c34d3aa4c86c6259dc8363.vfs.cloud9.ap-northeast-1.amazonaws.com/index" %>
</p>